{% load static %}
<!doctype html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>ハンバーガーページ</title>
    <link href="{% static 'labo_app/css/hamburger.css' %}" rel="stylesheet">
</head>
<body>
  <header>
    <div class="wrapper">
        <div class="hamburger">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <nav class="menu">
          <ul>
            <li><a href="{% url 'top' %}">トップページ</a></li>
            <li><a href="{% url 'simu' %}">計算ページ</a></li>
            <li><a href="{% url 'result' %}">結果ページ</a></li>
            <li>メニュー4</li>
            <li>メニュー5</li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <script src="{% static 'labo_app/js/hamburger.js' %}"></script>
</body>