{% extends "labo_app/base.html" %}
{% load static%}
{% load widget_tweaks %}
{% block title %}ログインページ{% endblock %}
{% block content %}
    <h1>ログイン</h1>
    <div class="form-group p-3">
        <form action="{% url "login"%}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% comment %} <div class=col-md-6>
                <label for="id_username">ユーザー名:</label>
                {% render_field form.username class+="form-control" %}
            </div>
            {% render_field form.password class+="form-control" %} {% endcomment %}
            <p><input type="submit" value="ログイン"></p>
        </form>
    </div>
{% endblock %}