{% extends 'labo_app/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}ajaxページ{% endblock %}
{% block css_js %}
    <link href="{% static 'labo_app/css/loading.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block content %}
<form id="commandForm">
    <label for="commandInput">Command:</label>
    <input type="text" id="commandInput" name="command">
    <button type="submit">Execute</button>
</form>
<p></p>
<div id="output">実行結果がこちらに表示されます。</div>

<style>
    #output {
        height: 200px;               /* 縦幅を200pxに指定 */
        border: 1px solid #000;      /* わかりやすくボーダーを引く */
        overflow-y: scroll;          /* 縦方向にスクロール可能にする */
    }
</style>

<script>
    var csrftoken = '{{ csrf_token }}';
    // フォーム送信時の処理
    $('#commandForm').submit(function(event) {
        event.preventDefault();
        //var formData = $(this).serialize();
        var command = document.getElementById('commandInput').value;
        var intervalID = setInterval(fetchData, 5000);
        console.log(JSON.stringify({ command: command}))

        // Ajaxリクエストを作成
        /*
        $.ajax({
            url: '{% url "ajax_exe_com" %}',  // コマンドを実行するエンドポイントのURL
            type: 'POST',
            data: JSON.stringify({ command: command}),
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(data) {
                console.log("success\n");
                console.log(data);
                intervalID = setInterval(fetchData, 5000);
            },
            complete: function(){
                console.log("complete\n");
                console.log('リクエストが完了しました。');
                fetchData();
                clearInterval(intervalID);
            }
        });
        */
        $.ajax({
            url: '{% url "ajax_exe_com" %}',  // コマンドを実行するエンドポイントのURL
            type: 'POST',
            data: JSON.stringify({ command: command}),
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': csrftoken
            }
        }).done(function(data) {
            console.log('done   リクエストが成功しました。');
        }).always(function() {
            console.log('always リクエストが完了しました。');
            fetchData();
            clearInterval(intervalID);
            console.log('setInterval()をクリアしました')
        });
    });

    // 5秒ごとに実行結果を取得する関数
    function fetchData() {
        /*
        $.ajax({
            url: '{% url "get_output" %}',  // コマンドの実行結果を取得するエンドポイントのURL
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': csrftoken
            },
            success: function(data) {
                console.log("feachData success\n");
                console.log(data.content);
                console.log(data.error);
                // 受信したデータを表示
                var content = convertNewlineToBr(data.content);
                //$('#output').text(content);
                output.innerHTML = content;
                
            }
        });
        */
        $.ajax({
            url: '{% url "get_output" %}',  // コマンドの実行結果を取得するエンドポイントのURL
            type: 'POST',
            dataType: 'json',
            contentType: 'application/json',
            headers: {
                'X-CSRFToken': csrftoken
            }
        }).done(function(data) {
            console.log("feachData success\n");
            console.log(data.content);
            console.log(data.error);
            // 受信したデータを表示
            var content = convertNewlineToBr(data.content);
            //$('#output').text(content);
            output.innerHTML = content;
            // スクロール位置を一番下に設定
            output.scrollTop = output.scrollHeight;
        }).fail(function() {
            alert('エラーが起きました');
        });
    }

    // CSRFトークンを取得する関数
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = cookies[i].trim();
                // クッキー名が一致する場合、値を取得
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function convertNewlineToBr(text) {
        return text.replace(/\n/g, '<br>');
    }
</script>
{% endblock %}
