{% load static %}
<!doctype html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>ハンバーガーページ</title>
    <link href="{% static 'labo_app/css/test.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            MDsimulation
        </div>
        <div class="hamburger">
            <div class="icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <nav class="sm">
            <ul>
                <li><a href="{% url 'top' %}">トップページ</a></li>
                <li><a href="{% url 'simu' %}">計算ページ</a></li>
                <li><a href="{% url 'result' %}">結果ページ</a></li>
                <li><a>紹介ページ</a></li>
            </ul>
        </nav>
        <nav class="pc">
            <ul>
                <li><a href="{% url 'top' %}">トップページ</a></li>
                <li><a href="{% url 'simu' %}">計算ページ</a></li>
                <li><a href="{% url 'result' %}">結果ページ</a></li>
                <li><a>紹介ページ</a></li>
            </ul>
        </nav>
    </header>
    <script src="{% static 'labo_app/js/test.js' %}"></script>
</body>